<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('template/header.ejs') -%>
</head>
<body>
    <%- include('template/navBar.ejs'); -%>
      </nav>
    <div class="logoutMessageContainer">
        <img class="imgMarketLogout" src="/images/logoMarket.png" alt="">
        <b class="logoutMessage">ERROR 400: ONLY ADMIN USERS CAN ADD PRODUCTS</b>
    </div>
</body>
</html>