<footer>
    <div class="footerContainer">
      <div class="logoContainer">
        <img src="/images/iconLogo.png" style="width:50px" alt="">
      </div>
      <div class="navContainer">
        <ul class="footerNavLik">
          <li><a href="/api/products">Products</a></li>
          <li><a href="/api/cart">cart</a></li>
          <li><a href="/api/user">user</a></li>
          <li><a href="/api/user/logout">logout</a></li>
        </ul>
      </div>
    </div>
    <div class="infoFooterContainer">
      <p>@All rights reserved 2023</p>
    </div>
  </footer>