<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand navBarLogo" href="#"><img src="/images/iconLogo.png" width="30px" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

          <li class="nav-item">
            <a class="nav-link" href="/api/products">home</a>
          </li>

            <li class="nav-item">
              <a class="nav-link" href="/api/products/form">Add Product</a>
            </li>

          <li class="nav-item">
            <a class="nav-link" href="/api/reviews/">reviews</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/api/cart"><i class="fa-solid fa-cart-shopping "></i></a>
          </li>
        
        
        </ul>
      </div>
      <a class="nav-link" href="/api/user/"><i class="fa-solid fa-user fa-2x" style="margin-right: 1rem; color: #61bb54;"></i></a>
      <button id="btnLogout" class="btnLogout"><a href="/api/user/logout"><i class="fa-sharp fa-solid fa-door-open fa-2x"></i></a></button>
    </div>
  </nav>